@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* reset.css */

html{ font-size: 16px ;}
body{ 
    margin: 0; 
    font-family: 'Inter', sans-serif;
    }

h1,h2,h3,p,figure{ margin: 0; }
ul,li{ margin: 0; padding: 0; list-style: none;}
img{ vertical-align:middle; }
a{ text-decoration: none; color:#000; }


*{ box-sizing: border-box; }